.price-form {
    width: 90px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    outline: none;
}
.price-form.active {
    border-color: #60ca62;
}
.price-form.error {
    border-color: red;
}
.container-result{
    visibility: hidden;
    width: 200px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 44px;
}
.container-result.active-container{
    visibility: visible;
}
.result {
    padding-left: 25px;
}
.cross {
    border: 1px solid black;
    border-radius: 100px;
    background-color: #818181;
    margin-left: 40px;
    cursor: pointer;
}
.cross:hover {
    background-color: #373737;
}